[Unit]
Description=DroidProxy
StopWhenUnneeded=true
BindsTo=dev-droid.device
After=dev-droid.device

[Service]
Type=forking
PIDFile=/opt/droidproxy/droidproxy.sh.pid
ExecStart=/opt/droidproxy/droidproxy.sh start
ExecStop=/opt/droidproxy/droidproxy.sh stop
ExecReload=/opt/droidproxy/droidproxy.sh reload
RemainAfterExit=no
Restart=always
KillMode=none

