[Unit]
Description=DroidProxy
StopWhenUnneeded=yes

[Service]
Type=forking
PIDFile=/opt/droidproxy/droidproxy.sh.pid
ExecStart=/opt/droidproxy/droidproxy.sh start
ExecStop=/opt/droidproxy/droidproxy.sh stop
ExecReload=/opt/droidproxy/droidproxy.sh reload
RemainAfterExit=no
Restart=never

#[Install]
#WantedBy=multi-user.target
#
